body {
	margin: 0;
	padding: 0;
}
table, th, td{
	
	text-align:center; font-family:verdana;
}
table {
	width: 90%;
	margin-left: 5%;
	table-layout: auto;
}
.name {
	font-size:2vw;
	font-family:verdana;
	text-align:center;
	margin:0;
}
.weight {
	font-size:0.8vw;
	font-family:verdana;
	text-align:right;
	color: white;
	margin:0;
}
.number {
	font-size:1.1vw;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-align:left;
	color: white;
	margin:0;
}
.element {
	width: calc(100% / 18);
}
div {
	position:relative;
	z-index:1;
}
div:after {
	background-image:url("https://wallpaperplay.com/walls/full/9/d/f/104426.jpg");
	top:0;
	left:0;
	position:absolute;
	background-size:100%;
	opacity:0.9!important;
	filter:alpha(opacity=50);
	z-index:-1;
	content:"";
	width:100%;
	height:100%;
	min-width: 100vw;
	min-height: 100vh;
	padding-bottom: 100px;
}
.Alkali_Metal {border: 0.2vw solid; border-color:#F6A91C; color:#F6A91C}
.Alkaline_Earth_Metal {border: 0.2vw solid; border-color:#EAEA19; color:#EAEA19;}
.Metalloid {border: 0.2vw solid; border-color:#02E677; color:#02E677}
.Post_Transition_Metal {border: 0.2vw solid; border-color:#85D7E1; color:#85D7E1}
.Polyatomic_Nonmetal {border: 0.2vw solid; border-color:#08E672; color:#08E672;}
.Transition_Metal {border: 0.2vw solid; border-color:#FF3E7E; color:#FF3E7E;}
.Diatomic_Nonmetal {border: 0.2vw solid; border-color:#6AE508; color:#6AE508}
.Noble_Gas {border: 0.2vw solid; border-color:#DF5FF4; color:#DF5FF4;}
.Lanthanide {border: 0.2vw solid; border-color:#FB6E40; color:#FB6E40;}
.Actinide {border: 0.2vw solid; border-color:#FF1746; color:#FF1746;}
.Unknown {border: 0.2vw solid; border-color:#8E9190; color:#8E9190;}
